In [4]:
import numpy as np

logic_category_len = dict()
query_len = dict()
schema_len = dict()
with open('./rand.lo') as f_lo:
    with open('./rand.qu') as f_qu:
        with open('./rand.fi') as f_fi:
            logic_line, query_line, schema_line = f_lo.readline(), f_qu.readline(), f_fi.readline()
            while logic_line and query_line and schema_line:
                logic = logic_line.split()
                length = len(logic)
                if length not in logic_category_len:
                    logic_category_len[length] = []
                    query_len[length] = []
                    schema_len[length] = []
                logic_category_len[length].append(logic_line)
                query_len[length].append(query_line)
                schema_len[length].append(schema_line)
                logic_line, query_line, schema_line = f_lo.readline(), f_qu.readline(), f_fi.readline()
for key in logic_category_len.keys():
    value = logic_category_len[key]
    print 'length = %d, total examples: %d' %(key, len(value))

length = 2, total examples: 2
length = 3, total examples: 156
length = 5, total examples: 128
length = 6, total examples: 1047
length = 7, total examples: 624
length = 10, total examples: 687
length = 11, total examples: 487
length = 12, total examples: 4
length = 13, total examples: 10
length = 14, total examples: 147
length = 18, total examples: 618

In [6]:
for i in range(len(logic_category_len[6])):
    print logic_category_len[6][i]

select Year_inducted where Name equal Tommy_Mooney

select Year where 4th_Venue equal Sydney

select Free_Throws where Player equal George_Nichols

select Bronze where Nation equal Japan

select Position where Name equal Duncan_Welbourne

select 2nd_Venue where 3rd_Venue equal Chicago

select Points where Player equal John_Challen

select Nation where Total equal 95

select Bronze where Nation equal Poland

select 3rd_Venue where Year equal 2004

select Total where Nation equal Moldova

select Silver where Nation equal Japan

select Bronze where Nation equal Belarus

select Gold where Nation equal China

select Bronze where Nation equal Netherlands

select Runs where Player equal Ted_Tyler

select Nation where Rank equal 14

select Javine_H where Discipline equal Hammer

select Apps where Name equal Duncan_Welbourne

select Gold where Nation equal Latvia

select 1st_Venue where 2nd_Venue equal Chicago

select 50s where Player equal Gordon_Otto

select Name where Year_inducted equal 2001

select Goals where Name equal Nigel_Gibbs

select Year where 1st_Venue equal Havana

select Free_Throws where Player equal John_Challen

select Total where Nation equal Armenia

select Points where Player equal Ernest_McKay

select Bronze where Rank equal 21

select Year where 1st_Venue equal Dubai

avg League_Goals where Nation equal United_States

select Nation where Rank equal 19

select 3rd_Venue where Year equal 2011

select Gold where Nation equal Czech_Republic

select Points where Innings equal 12

select Goals where Name equal Luther_Blissett

select Nation where Silver equal 9

select Nation where Gold equal 93

select Gold where Nation equal Brazil

select 4th_Venue where Year equal 2000

select Nation where Bronze greater 4

select Silver where Nation equal Jamaica

select State where No._of_elected less 2

select Runs where 50s equal 60

select Nation where Rank equal 3

select Silver where Nation equal South_Korea

select Year where 1st_Venue equal Austin

avg Total_Goals where Nation equal Great_Britain

select 1st_Venue where 2nd_Venue equal Austin

select Innings where Player equal Ted_Tyler

select Goals where Name equal John_McClelland

select Runs where Player equal George_Nichols

select Silver where Nation equal Uzbekistan

select 100s where 50s equal 40

select Nation where Gold equal 90

select Total where Nation equal Malaysia

select 2nd_Venue where Year equal 2010

select Year_inducted where Name equal Duncan_Welbourne

select Year where 1st_Venue equal Guanajuato

select Javine_H where Discipline equal Curling

avg Total_Apps where Nation equal Russia

select Gold where Nation equal South_Korea

select Year where 4th_Venue equal Nassau

select Bronze where Nation equal South_Korea

select Nation where Gold equal 99

select 2nd_Venue where Year equal 2014

select Total where Nation equal Czech_Republic

select Gold where Nation equal Italy

select 2nd_Venue where 3rd_Venue equal Mexico_City

select 1st_Venue where Year equal 2011

select Nation where Gold equal 96

select Bronze where Nation equal Latvia

select Silver where Rank equal 46

select Runs where 50s equal 12

select 2nd_Venue where 3rd_Venue equal Sheffield

select Total where Nation equal Denmark

select Gold where Rank equal 75

select Nation where Rank equal 2

select Total where Nation equal Belarus

select 100s where Matches equal 90

select Bernie where Discipline equal Hammer

avg League_Goals where Nation equal Russia

select Field_Goals where Player equal George_Nichols

select Position where Name equal David_James

select Bronze where Nation equal Australia

select Total where Nation equal Ukraine

select Bronze where Nation equal France

select Total where Nation equal Canada

avg Total_Goals where Nation equal United_States

select Year where 4th_Venue equal Los_Angeles

select Nation where Total equal 89

select Nation where Total equal 79

select points where 50s equal 90

select No._of_candidates where State equal Manipur

select Bernie where Discipline equal Archery

avg Total_Goals where Nation equal Scotland

select Bronze where Rank equal 42

select 100s where Games_Played equal 99

select Position where Name equal John_McClelland

select Field_Goals where Player equal Ralf_Woods

select Amanda where Discipline equal Cycling

select Points where Player equal Crescens_Robinson

select Apps where Name equal Luther_Blissett

avg League_Apps where Nation equal France

select Nation where Gold equal 39

select Silver where Nation equal Finland

select Silver where Nation equal Uganda

select 1st_Venue where 2nd_Venue equal Washington

select Position where Name equal Ross_Jenkins

select Gold where Nation equal China

select Gold where Nation equal Bahamas

select Silver where Rank equal 32

select Year where 4th_Venue equal Sheffield

select Silver where Nation equal Hungary

select Bronze where Rank equal 75

select Nation where Gold greater 6

select Silver where Nation equal Russia

select Bronze where Nation equal Israel

select Gold where Rank equal 58

select Gold where Rank equal 98

select 1st_Venue where 3rd_Venue equal Sydney

select 1st_Venue where Year equal 2013

select Bronze where Nation equal South_Korea

select Nation where Gold equal 98

select Year where 4th_Venue equal Shanghai

select Year_inducted where Name equal Luther_Blissett

select Silver where Nation equal Iran

select Gold where Nation equal Germany

select Silver where Nation equal China

select Silver where Rank equal 15

select Innings where Player equal Albert_Clapp

select Year_inducted where Name equal Ross_Jenkins

select Total where Nation equal Austria

select Silver where Nation equal Great_Britain

select Gold where Nation equal Finland

select Nation where Total equal 93

select Gold where Nation equal Estonia

avg League_Apps where Nation equal United_States

select Bronze where Rank equal 25

select Matches where Player equal Ralf_Woods

select Apps where Name equal Tommy_Mooney

select Silver where Nation equal Slovenia

select Michelle where Discipline equal Curling

select 2nd_Venue where Year equal 2009

select Michelle where Discipline equal Swimming

select Gold where Nation equal South_Korea

select Bronze where Nation equal Greece

select Year_inducted where Name equal Nigel_Gibbs

select points where 50s equal 99

select Bronze where Nation equal Mongolia

select Silver where Rank equal 45

select Nation where Bronze equal 98

select Nation where Silver equal 92

select Name where Year_inducted equal 1997

select Year_inducted where Name equal Les_Taylor

select Points where Games_Played equal 60

select Nation where Gold equal 79

select Year where 1st_Venue equal Seattle

select Field_Goals where Player equal Ernest_McKay

select Year where 4th_Venue equal Beijing

select Year where 4th_Venue equal Austin

select Bronze where Rank equal 15

select Apps where Name equal Tony_Coton

select Nation where Gold greater 4

select 2nd_Venue where 3rd_Venue equal Shanghai

select Field_Goals where Player equal Herbie_Hewett

select 100s where Player equal Herbie_Hewett

select Matches where Player equal Albert_Clapp

select Position where Name equal Les_Taylor

sum Player where Innings less 20

select Nation where Silver greater 7

select Notation where Position equal 6

select 3rd_Venue where Year equal 2016

select No._of_candidates where State equal Tripura

avg Bronze where Silver greater 0

select Name where Year_inducted equal 2009

select Silver where Nation equal Ukraine

select Name where Year_inducted equal 2012

select Year where 4th_Venue equal Seattle

select 1st_Venue where 2nd_Venue equal Indianapolis

select Silver where Rank equal 55

select Silver where Nation equal Great_Britain

avg Total_Goals where Nation equal Japan

select Year_inducted where Name equal Ian_Bolton

select Points where Innings equal 40

select Year where 4th_Venue equal Veracruz

select Silver where Nation equal Japan

select 1st_Venue where 2nd_Venue equal Sydney

select Bernie where Discipline equal Hurdles

select Silver where Nation equal Ukraine

select Total where Nation equal Finland

select Bronze where Rank equal 87

select Points where Matches equal 40

sum Player where Innings less 30

select Gold where Nation equal Japan

select Nation where Rank equal 1

avg Total_Goals where Nation equal Russia

select Silver where Nation equal Russia

select Total where Nation equal Cuba

select 1st_Venue where 3rd_Venue equal Nassau

select 1st_Venue where 3rd_Venue equal Hangzhou

select 100s where 50s equal 60

select Gold where Nation equal Cuba

select 4th_Venue where Year equal 2004

select 2nd_Venue where 3rd_Venue equal Beijing

select Runs where Player equal Crescens_Robinson

select Points where Games_Played equal 90

select Silver where Nation equal Kazakhstan

select points where 50s equal 40

avg Total_Goals where Nation equal South_Korea

select Silver where Nation equal France

select Bronze where Nation equal Hungary

select Year where 1st_Venue equal Nassau

select Nation where Total equal 19

select Runs where Player equal John_Felmley

select 2nd_Venue where Year equal 2006

select Total where Nation equal Italy

select 1st_Venue where 2nd_Venue equal Boston

select Bronze where Nation equal Jamaica

select Total where Nation equal Germany

select points where 50s equal 60

select 4th_Venue where Year equal 2009

select Bronze where Rank equal 86

select Bronze where Nation equal Iran

select 50s where Player equal Bill_Roe

select 50s where Player equal Ray_Woods

select State where No._of_elected less 2

select Gold where Nation equal Israel

select Bronze where Nation equal Slovenia

select Mnemonic where Position equal 8

sum Player where Matches less 30

select Year where 4th_Venue equal Boston

select Points where Player equal Lionel_Palairet

select Total where Nation equal China

select Silver where Nation equal Germany

select Silver where Nation equal Greece

select 4th_Venue where Year equal 2008

select 1st_Venue where 2nd_Venue equal Hangzhou

select No._of_candidates where State equal Uttarakhand

select Total where Nation equal Jamaica

select Year where 1st_Venue equal Boston

select Gold where Nation equal China

avg League_Apps where Nation equal Scotland

select Total where Nation equal Turkey

select 100s where Games_Played equal 90

select Total where Nation equal United_States

select Gold where Nation equal Russia

select Bronze where Nation equal Switzerland

select Bronze where Nation equal Malaysia

select Bronze where Nation equal Kazakhstan

select Gold where Nation equal Ukraine

select Bronze where Nation equal Japan

select Julia where Discipline equal Hurdles

select Silver where Nation equal Turkey

select Bronze where Nation equal Romania

select Silver where Nation equal Germany

select State where No._of_candidates less 2

select Nation where Silver equal 90

avg League_Apps where Nation equal Russia

select Name where Year_inducted equal 2006

select Silver where Nation equal Great_Britain

select Nation where Rank equal 21

select 100s where Matches equal 60

select Nation where Bronze equal 94

select Total where Nation equal South_Korea

select Mnemonic where Position equal 7

select Gold where Rank equal 65

select No._of_candidates where State equal Jammu_and_Kashmir

select Gold where Nation equal Russia

select Runs where 50s equal 90

select Name where Year_inducted equal 2000

select Gold where Nation equal United_States

select Bronze where Rank equal 43

select Nation where Rank equal 4

select Gold where Nation equal United_States

select Gold where Nation equal Spain

select Silver where Nation equal Romania

select 2nd_Venue where 3rd_Venue equal Sydney

avg League_Apps where Nation equal South_Korea

select Nation where Total equal 91

select Year where 4th_Venue equal Guanajuato

select Michelle where Discipline equal Archery

select Short_name where Position equal 8

select Gold where Rank equal 54

select Gold where Nation equal Japan

select Total where Nation equal South_Korea

select Gold where Nation equal Uzbekistan

select Bronze where Nation equal Morocco

select Silver where Nation equal Bahamas

select points where 50s equal 12

select Runs where Innings equal 99

select Gold where Nation equal Greece

select Total where Nation equal Romania

select 1st_Venue where 2nd_Venue equal Shanghai

avg League_Apps where Nation equal China

select Silver where Nation equal France

select 1st_Venue where 3rd_Venue equal Changzhou

select Innings where Player equal George_Halas

select Gold where Nation equal Croatia

select 2nd_Venue where 3rd_Venue equal Hangzhou

select Innings where Player equal Herbie_Hewett

select 1st_Venue where 2nd_Venue equal Veracruz

select Nation where Gold equal 59

select Points where Player equal George_Nichols

select Nation where Silver equal 89

select Total where Nation equal Cyprus

select Gold where Nation equal United_States

select Bronze where Nation equal Russia

select Name where Year_inducted equal 2015

select Silver where Nation equal Spain

select Year where 4th_Venue equal Washington

select Notation where Position equal 5

select 1st_Venue where 3rd_Venue equal Washington

select Games_Played where Player equal Albert_Clapp

select Silver where Nation equal Ukraine

select Nation where Bronze equal 59

select Innings where Player equal Gordon_Otto

sum Player where Runs less 30

select 50s where Player equal John_Felmley

sum Player where Runs greater 30

select Games_Played where Player equal Bill_Roe

select Nation where Silver equal 94

select Runs where Player equal Bill_Roe

select Apps where Name equal Nigel_Gibbs

select Nation where Rank equal 16

select Runs where Player equal Gordon_Otto

select Nation where Gold equal 69

select 3rd_Venue where Year equal 2010

select 2nd_Venue where Year equal 2013

select Goals where Name equal Ross_Jenkins

select No._of_candidates where State equal Assam

select Year where 1st_Venue equal Cambridge

select 3rd_Venue where Year equal 2007

select 100s where 50s equal 12

avg Total_Apps where Nation equal Ukraine

select Gold where Nation equal Turkey

select Nation where Gold equal 91

select Total where Nation equal Slovakia

select Points where Matches equal 60

select Position where Name equal Robert_Page

select Year where 1st_Venue equal Los_Angeles

select Short_name where Position equal 4

avg Gold where Gold greater 0

select Bronze where Nation equal Ireland

select 4th_Venue where Year equal 2014

select 100s where Games_Played equal 40

select Total where Nation equal Russia

select 4th_Venue where Year equal 2007

select Gold where Nation equal France

select Silver where Nation equal Cuba

select Nation where Gold equal 92

select Bronze where Rank equal 55

select 1st_Venue where 2nd_Venue equal Dubai

select 1st_Venue where 3rd_Venue equal Veracruz

sum Player where Matches greater 20

select Nation where Rank equal 5

select Nation where Bronze greater 5

select Gold where Nation equal Slovakia

select Nation where Rank equal 5

select Nation where Gold equal 97

select Points where Innings equal 90

select 50s where Player equal Ralf_Woods

select Total where Nation equal Kazakhstan

select Innings where Player equal John_Challen

select 100s where Player equal Ralf_Woods

avg Silver where Gold greater 0

avg League_Apps where Nation equal Germany

select Name where Year_inducted equal 2003

select Runs where Games_Played equal 90

select Field_Goals where Player equal Lionel_Palairet

select Bronze where Nation equal South_Korea

sum Player where Matches greater 10

select Year_inducted where Name equal Tony_Coton

select Bronze where Nation equal Mexico

select Gold where Nation equal Iran

select Gold where Nation equal Poland

select Bronze where Nation equal Russia

select Year_inducted where Name equal Luther_Blissett

select Bronze where Nation equal Great_Britain

select 2nd_Venue where 3rd_Venue equal Changzhou

select Gold where Nation equal Jamaica

select Nation where Total equal 94

select 2nd_Venue where 3rd_Venue equal Austin

select Matches where Player equal Lionel_Palairet

select 1st_Venue where 2nd_Venue equal Caracas

select Nation where Silver equal 98

select Gold where Nation equal Germany

select Bronze where Nation equal Uzbekistan

select Gold where Nation equal Great_Britain

select Total where Nation equal Australia

select Silver where Nation equal Malaysia

select Bronze where Nation equal China

select 3rd_Venue where Year equal 2015

select Name where Year_inducted equal 2005

select 50s where Player equal George_Halas

select Nation where Bronze equal 19

select Year where 4th_Venue equal Cambridge

select Bronze where Nation equal Ukraine

select Nation where Bronze equal 9

select Bronze where Nation equal China

select Bronze where Nation equal Moldova

select 2nd_Venue where 3rd_Venue equal Washington

select Name where Year_inducted equal 2014

select Runs where Player equal Ray_Woods

select 2nd_Venue where 3rd_Venue equal Los_Angeles

select Nation where Rank equal 7

select Nation where Gold greater 5

select Gold where Nation equal South_Korea

select Bronze where Nation equal Brazil

select 4th_Venue where Year equal 2003

select Name where Year_inducted equal 2010

select Amanda where Discipline equal Curling

select Apps where Name equal David_James

select Nation where Bronze equal 69

avg League_Apps where Nation equal Great_Britain

select Silver where Nation equal Thailand

select Javine_H where Discipline equal Swimming

select Gold where Nation equal Netherlands

select 100s where Player equal Ted_Tyler

select Gold where Rank equal 15

select 2nd_Venue where 3rd_Venue equal Veracruz

select Year where 1st_Venue equal Veracruz

select Position where Name equal Les_Taylor

select Silver where Nation equal Poland

select 1st_Venue where Year equal 2014

select Silver where Nation equal Russia

select Nation where Bronze equal 99

select Innings where Player equal George_Nichols

select 2nd_Venue where Year equal 2015

select Silver where Rank equal 35

select Gold where Rank equal 45

select Bronze where Nation equal Germany

select 2nd_Venue where 3rd_Venue equal Seattle

select Matches where Player equal George_Nichols

select Bronze where Nation equal Thailand

select Total where Nation equal Spain

select 100s where Player equal George_Nichols

select 1st_Venue where 2nd_Venue equal Tokyo

select No._of_candidates where State equal Madhya_Pradesh

select Silver where Nation equal Slovakia

select Notation where Position equal 4

select Gold where Nation equal Germany

select No._of_candidates where State equal West_Bengal

select Silver where Rank equal 25

select 1st_Venue where 3rd_Venue equal Chicago

select Nation where Total equal 97

select Games_Played where Player equal Crescens_Robinson

select 100s where Innings equal 60

select No._of_candidates where State equal Meghalaya

select 1st_Venue where 3rd_Venue equal Beijing

select Nation where Rank equal 3

select Silver where Nation equal Brazil

select Bronze where Nation equal Great_Britain

select Year where 1st_Venue equal Caracas

select Points where Player equal Bill_Roe

avg Silver where Silver greater 0

select Games_Played where Player equal Ted_Tyler

select Points where Player equal Ralf_Woods

select 100s where Innings equal 40

select Free_Throws where Player equal Crescens_Robinson

avg Bronze where Bronze greater 0

select Nation where Bronze equal 90

select Total where Nation equal Poland

select No._of_candidates where State equal Karnataka

select 1st_Venue where Year equal 2004

select Field_Goals where Player equal Gordon_Otto

select Bronze where Rank equal 92

sum Player where Innings greater 10

select Gold where Nation equal Moldova

select Gold where Nation equal Great_Britain

select 4th_Venue where Year equal 2012

select Nation where Silver equal 79

sum Player where Runs less 10

select Nation where Silver equal 19
