In [7]:
import numpy as np

forms = []
len_search = dict()
with open('./rand_train.lo') as f:
    for line in f:
        tokens = line.split()
        forms.append(tokens)
        length = len(tokens)
        if length not in len_search:
            len_search[length] = []
        len_search[length].append(line)

for key in len_search.keys():
    value = len_search[key]
    print 'length = %d, total examples: %d' %(key, len(value))

length = 2, total examples: 1
length = 3, total examples: 111
length = 5, total examples: 99
length = 6, total examples: 739
length = 7, total examples: 446
length = 10, total examples: 490
length = 11, total examples: 351
length = 13, total examples: 3
length = 14, total examples: 6
length = 15, total examples: 109
length = 19, total examples: 445

In [9]:
def renew19(line):
    tokens = line.split()
    newtokens = [x for x in tokens[:-1]]
    newtokens[0] = tokens[16]
    newtokens[1:3] = ['A', 'as']
    newtokens[3:5] = tokens[4:6]
    newtokens[5:9] = tokens[0:4]
    newtokens[9:12] = ['and', 'B', 'as']
    #newtokens[12:14] = tokens[12:14]
    newtokens[14:] = tokens[8:12]
    newline = ' '.join(newtokens)
    return newline

for line in len_search[15]:
    print line
#     newline = renew19(line)
#     print newline

where Nation equal Italy select Silver as A where Nation equal India select Silver as B diff A B

diff A as select Silver where Nation equal Italy and B as select Silver where Nation equal India
where Team equal Greystones select Prices as A where Team equal Ballyroan_Abbey select Prices as B diff A B

diff A as select Prices where Team equal Greystones and B as select Prices where Team equal Ballyroan_Abbey
where Country equal Wales select Masters as A where Country equal Australia select Masters as B sum A B

sum A as select Masters where Country equal Wales and B as select Masters where Country equal Australia
where Player equal George_Nichols select Innings as A where Player equal Bill_Roe select Innings as B diff A B

diff A as select Innings where Player equal George_Nichols and B as select Innings where Player equal Bill_Roe
where Player equal John_Challen select Innings as A where Player equal George_Nichols select Innings as B diff A B

diff A as select Innings where Player equal John_Challen and B as select Innings where Player equal George_Nichols
where Country equal Australia select U.S._Open as A where Country equal Romania select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Australia and B as select U.S._Open where Country equal Romania
where Country equal Italy select U.S._Open as A where Country equal Brazil select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Italy and B as select U.S._Open where Country equal Brazil
where Country equal Spain select U.S._Open as A where Country equal Wales select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Spain and B as select U.S._Open where Country equal Wales
where Player equal Bill_Roe select 100s as A where Player equal John_Challen select 100s as B diff A B

diff A as select 100s where Player equal Bill_Roe and B as select 100s where Player equal John_Challen
where Player equal Albert_Clapp select Matches as A where Player equal John_Challen select Matches as B diff A B

diff A as select Matches where Player equal Albert_Clapp and B as select Matches where Player equal John_Challen
where Player equal Herbie_Hewett select Innings as A where Player equal John_Challen select Innings as B diff A B

diff A as select Innings where Player equal Herbie_Hewett and B as select Innings where Player equal John_Challen
where Team equal Dundalk_Gael select Prices as A where Team equal Maynooth select Prices as B diff A B

diff A as select Prices where Team equal Dundalk_Gael and B as select Prices where Team equal Maynooth
where Country equal Romania select Masters as A where Country equal Netherlands select Masters as B sum A B

sum A as select Masters where Country equal Romania and B as select Masters where Country equal Netherlands
where Player equal Herbie_Hewett select Average as A where Player equal Albert_Clapp select Average as B diff A B

diff A as select Average where Player equal Herbie_Hewett and B as select Average where Player equal Albert_Clapp
where Team equal Confey select Prices as A where Team equal Maynooth select Prices as B diff A B

diff A as select Prices where Team equal Confey and B as select Prices where Team equal Maynooth
where Team equal Dundalk_Gael select Areas as A where Team equal Greystones select Areas as B diff A B

diff A as select Areas where Team equal Dundalk_Gael and B as select Areas where Team equal Greystones
where Country equal Romania select The_Open as A where Country equal Australia select The_Open as B sum A B

sum A as select The_Open where Country equal Romania and B as select The_Open where Country equal Australia
where Country equal Italy select Masters as A where Country equal Brazil select Masters as B sum A B

sum A as select Masters where Country equal Italy and B as select Masters where Country equal Brazil
where Country equal Netherlands select Masters as A where Country equal Brazil select Masters as B sum A B

sum A as select Masters where Country equal Netherlands and B as select Masters where Country equal Brazil
where Nation equal Spain select Bronze as A where Nation equal Netherlands select Bronze as B diff A B

diff A as select Bronze where Nation equal Spain and B as select Bronze where Nation equal Netherlands
where Nation equal Spain select Silver as A where Nation equal Netherlands select Silver as B diff A B

diff A as select Silver where Nation equal Spain and B as select Silver where Nation equal Netherlands
where Player equal Bill_Roe select 100s as A where Player equal Albert_Clapp select 100s as B diff A B

diff A as select 100s where Player equal Bill_Roe and B as select 100s where Player equal Albert_Clapp
where Country equal Netherlands select The_Open as A where Country equal Italy select The_Open as B sum A B

sum A as select The_Open where Country equal Netherlands and B as select The_Open where Country equal Italy
where Country equal Australia select U.S._Open as A where Country equal England select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Australia and B as select U.S._Open where Country equal England
where Team equal Greystones select Areas as A where Team equal Crettyard select Areas as B diff A B

diff A as select Areas where Team equal Greystones and B as select Areas where Team equal Crettyard
where Team equal Dundalk_Gael select Areas as A where Team equal Fingal_Ravens select Areas as B diff A B

diff A as select Areas where Team equal Dundalk_Gael and B as select Areas where Team equal Fingal_Ravens
where Nation equal Brazil select Gold as A where Nation equal India select Gold as B diff A B

diff A as select Gold where Nation equal Brazil and B as select Gold where Nation equal India
where Country equal Spain select The_Open as A where Country equal Australia select The_Open as B sum A B

sum A as select The_Open where Country equal Spain and B as select The_Open where Country equal Australia
where Nation equal Netherlands select Bronze as A where Nation equal Spain select Bronze as B diff A B

diff A as select Bronze where Nation equal Netherlands and B as select Bronze where Nation equal Spain
where Player equal Bill_Roe select Matches as A where Player equal Albert_Clapp select Matches as B diff A B

diff A as select Matches where Player equal Bill_Roe and B as select Matches where Player equal Albert_Clapp
where Team equal Ballyroan_Abbey select Years_won as A where Team equal Confey select Years_won as B diff A B

diff A as select Years_won where Team equal Ballyroan_Abbey and B as select Years_won where Team equal Confey
where Player equal Albert_Clapp select Average as A where Player equal John_Challen select Average as B diff A B

diff A as select Average where Player equal Albert_Clapp and B as select Average where Player equal John_Challen
where Country equal England select U.S._Open as A where Country equal Spain select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal England and B as select U.S._Open where Country equal Spain
where Team equal Greystones select Years_won as A where Team equal Fingal_Ravens select Years_won as B diff A B

diff A as select Years_won where Team equal Greystones and B as select Years_won where Team equal Fingal_Ravens
where Nation equal Brazil select Bronze as A where Nation equal Australia select Bronze as B diff A B

diff A as select Bronze where Nation equal Brazil and B as select Bronze where Nation equal Australia
where Team equal Confey select Years_won as A where Team equal Maynooth select Years_won as B diff A B

diff A as select Years_won where Team equal Confey and B as select Years_won where Team equal Maynooth
where Nation equal Nepal select Bronze as A where Nation equal Romania select Bronze as B diff A B

diff A as select Bronze where Nation equal Nepal and B as select Bronze where Nation equal Romania
where Country equal Australia select PGA as A where Country equal Italy select PGA as B sum A B

sum A as select PGA where Country equal Australia and B as select PGA where Country equal Italy
where Country equal Brazil select The_Open as A where Country equal Wales select The_Open as B sum A B

sum A as select The_Open where Country equal Brazil and B as select The_Open where Country equal Wales
where Team equal Greystones select Years_won as A where Team equal Ballyroan_Abbey select Years_won as B diff A B

diff A as select Years_won where Team equal Greystones and B as select Years_won where Team equal Ballyroan_Abbey
where Team equal Ballyroan_Abbey select Prices as A where Team equal Confey select Prices as B diff A B

diff A as select Prices where Team equal Ballyroan_Abbey and B as select Prices where Team equal Confey
where Nation equal Brazil select Silver as A where Nation equal Australia select Silver as B diff A B

diff A as select Silver where Nation equal Brazil and B as select Silver where Nation equal Australia
where Country equal Wales select Masters as A where Country equal Romania select Masters as B sum A B

sum A as select Masters where Country equal Wales and B as select Masters where Country equal Romania
where Team equal Confey select Years_won as A where Team equal Dundalk_Gael select Years_won as B diff A B

diff A as select Years_won where Team equal Confey and B as select Years_won where Team equal Dundalk_Gael
where Country equal Romania select U.S._Open as A where Country equal Spain select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Romania and B as select U.S._Open where Country equal Spain
where Country equal England select PGA as A where Country equal Brazil select PGA as B sum A B

sum A as select PGA where Country equal England and B as select PGA where Country equal Brazil
where Nation equal Australia select Bronze as A where Nation equal Spain select Bronze as B diff A B

diff A as select Bronze where Nation equal Australia and B as select Bronze where Nation equal Spain
where Country equal England select Masters as A where Country equal Australia select Masters as B sum A B

sum A as select Masters where Country equal England and B as select Masters where Country equal Australia
where Team equal Confey select Years_won as A where Team equal Greystones select Years_won as B diff A B

diff A as select Years_won where Team equal Confey and B as select Years_won where Team equal Greystones
where Nation equal Spain select Silver as A where Nation equal Italy select Silver as B diff A B

diff A as select Silver where Nation equal Spain and B as select Silver where Nation equal Italy
where Country equal Brazil select Masters as A where Country equal Italy select Masters as B sum A B

sum A as select Masters where Country equal Brazil and B as select Masters where Country equal Italy
where Player equal John_Challen select Average as A where Player equal George_Nichols select Average as B diff A B

diff A as select Average where Player equal John_Challen and B as select Average where Player equal George_Nichols
where Player equal George_Nichols select Runs as A where Player equal Bill_Roe select Runs as B diff A B

diff A as select Runs where Player equal George_Nichols and B as select Runs where Player equal Bill_Roe
where Player equal Bill_Roe select 100s as A where Player equal George_Nichols select 100s as B diff A B

diff A as select 100s where Player equal Bill_Roe and B as select 100s where Player equal George_Nichols
where Team equal Crettyard select Areas as A where Team equal Greystones select Areas as B diff A B

diff A as select Areas where Team equal Crettyard and B as select Areas where Team equal Greystones
where Country equal England select U.S._Open as A where Country equal Australia select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal England and B as select U.S._Open where Country equal Australia
where Team equal Fingal_Ravens select Prices as A where Team equal Ballyroan_Abbey select Prices as B diff A B

diff A as select Prices where Team equal Fingal_Ravens and B as select Prices where Team equal Ballyroan_Abbey
where Nation equal Australia select Silver as A where Nation equal Romania select Silver as B diff A B

diff A as select Silver where Nation equal Australia and B as select Silver where Nation equal Romania
where Team equal Crettyard select Prices as A where Team equal Greystones select Prices as B diff A B

diff A as select Prices where Team equal Crettyard and B as select Prices where Team equal Greystones
where Country equal Netherlands select Masters as A where Country equal Spain select Masters as B sum A B

sum A as select Masters where Country equal Netherlands and B as select Masters where Country equal Spain
where Player equal Bill_Roe select 100s as A where Player equal Herbie_Hewett select 100s as B diff A B

diff A as select 100s where Player equal Bill_Roe and B as select 100s where Player equal Herbie_Hewett
where Player equal Herbie_Hewett select Runs as A where Player equal Albert_Clapp select Runs as B diff A B

diff A as select Runs where Player equal Herbie_Hewett and B as select Runs where Player equal Albert_Clapp
where Player equal Bill_Roe select Innings as A where Player equal George_Nichols select Innings as B diff A B

diff A as select Innings where Player equal Bill_Roe and B as select Innings where Player equal George_Nichols
where Team equal Maynooth select Areas as A where Team equal Crettyard select Areas as B diff A B

diff A as select Areas where Team equal Maynooth and B as select Areas where Team equal Crettyard
where Country equal Brazil select PGA as A where Country equal Netherlands select PGA as B sum A B

sum A as select PGA where Country equal Brazil and B as select PGA where Country equal Netherlands
where Nation equal Romania select Gold as A where Nation equal Italy select Gold as B diff A B

diff A as select Gold where Nation equal Romania and B as select Gold where Nation equal Italy
where Country equal Netherlands select The_Open as A where Country equal Wales select The_Open as B sum A B

sum A as select The_Open where Country equal Netherlands and B as select The_Open where Country equal Wales
where Nation equal Spain select Gold as A where Nation equal Romania select Gold as B diff A B

diff A as select Gold where Nation equal Spain and B as select Gold where Nation equal Romania
where Country equal Wales select U.S._Open as A where Country equal Netherlands select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Wales and B as select U.S._Open where Country equal Netherlands
where Player equal Herbie_Hewett select Matches as A where Player equal Bill_Roe select Matches as B diff A B

diff A as select Matches where Player equal Herbie_Hewett and B as select Matches where Player equal Bill_Roe
where Team equal Confey select Prices as A where Team equal Dundalk_Gael select Prices as B diff A B

diff A as select Prices where Team equal Confey and B as select Prices where Team equal Dundalk_Gael
where Team equal Maynooth select Years_won as A where Team equal Crettyard select Years_won as B diff A B

diff A as select Years_won where Team equal Maynooth and B as select Years_won where Team equal Crettyard
where Nation equal Australia select Silver as A where Nation equal India select Silver as B diff A B

diff A as select Silver where Nation equal Australia and B as select Silver where Nation equal India
where Country equal Spain select Masters as A where Country equal Australia select Masters as B sum A B

sum A as select Masters where Country equal Spain and B as select Masters where Country equal Australia
where Nation equal Netherlands select Silver as A where Nation equal Romania select Silver as B diff A B

diff A as select Silver where Nation equal Netherlands and B as select Silver where Nation equal Romania
where Country equal Spain select U.S._Open as A where Country equal Netherlands select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Spain and B as select U.S._Open where Country equal Netherlands
where Nation equal Italy select Silver as A where Nation equal Nepal select Silver as B diff A B

diff A as select Silver where Nation equal Italy and B as select Silver where Nation equal Nepal
where Nation equal Australia select Silver as A where Nation equal Italy select Silver as B diff A B

diff A as select Silver where Nation equal Australia and B as select Silver where Nation equal Italy
where Country equal Spain select U.S._Open as A where Country equal Italy select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Spain and B as select U.S._Open where Country equal Italy
where Country equal Romania select The_Open as A where Country equal Spain select The_Open as B sum A B

sum A as select The_Open where Country equal Romania and B as select The_Open where Country equal Spain
where Nation equal India select Gold as A where Nation equal Netherlands select Gold as B diff A B

diff A as select Gold where Nation equal India and B as select Gold where Nation equal Netherlands
where Nation equal Nepal select Bronze as A where Nation equal India select Bronze as B diff A B

diff A as select Bronze where Nation equal Nepal and B as select Bronze where Nation equal India
where Player equal Albert_Clapp select Innings as A where Player equal Bill_Roe select Innings as B diff A B

diff A as select Innings where Player equal Albert_Clapp and B as select Innings where Player equal Bill_Roe
where Country equal Brazil select U.S._Open as A where Country equal Wales select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal Brazil and B as select U.S._Open where Country equal Wales
where Country equal Australia select Masters as A where Country equal Spain select Masters as B sum A B

sum A as select Masters where Country equal Australia and B as select Masters where Country equal Spain
where Country equal Spain select PGA as A where Country equal Romania select PGA as B sum A B

sum A as select PGA where Country equal Spain and B as select PGA where Country equal Romania
where Nation equal India select Bronze as A where Nation equal Nepal select Bronze as B diff A B

diff A as select Bronze where Nation equal India and B as select Bronze where Nation equal Nepal
where Country equal Romania select PGA as A where Country equal Australia select PGA as B sum A B

sum A as select PGA where Country equal Romania and B as select PGA where Country equal Australia
where Country equal England select U.S._Open as A where Country equal Romania select U.S._Open as B sum A B

sum A as select U.S._Open where Country equal England and B as select U.S._Open where Country equal Romania
where Team equal Dundalk_Gael select Years_won as A where Team equal Crettyard select Years_won as B diff A B

diff A as select Years_won where Team equal Dundalk_Gael and B as select Years_won where Team equal Crettyard
where Team equal Greystones select Prices as A where Team equal Confey select Prices as B diff A B

diff A as select Prices where Team equal Greystones and B as select Prices where Team equal Confey
where Nation equal Spain select Bronze as A where Nation equal Italy select Bronze as B diff A B

diff A as select Bronze where Nation equal Spain and B as select Bronze where Nation equal Italy
where Country equal Romania select Masters as A where Country equal Wales select Masters as B sum A B

sum A as select Masters where Country equal Romania and B as select Masters where Country equal Wales
where Team equal Dundalk_Gael select Areas as A where Team equal Maynooth select Areas as B diff A B

diff A as select Areas where Team equal Dundalk_Gael and B as select Areas where Team equal Maynooth
where Nation equal Nepal select Silver as A where Nation equal Netherlands select Silver as B diff A B

diff A as select Silver where Nation equal Nepal and B as select Silver where Nation equal Netherlands